/* Estilos Gerais */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 80%;
  margin: 0px 10% 0px 10%;
}

/* Introdução */

.intro {
  background: url(assets/hero-image.png) no-repeat;
  background-position: center center;
  background-size: cover;
}

.redes-sociais {
  float: right;
  position: relative;
  top: -300px;
}

.redes-sociais ul li {
  margin-bottom: 25px;
  text-align: center;
}

header {
  padding: 20px 0px 120px;
}

header span {
  padding-left: 10px;
  color: rgba(17, 17, 17, 0.5);
}

h1 {
  font-size: 34px;
  line-height: 48px;
}

.intro-info {
  padding: 20px 0px 100px;
}

.intro-info p {
  font-size: 20px;
  color: rgba(17, 17, 17, 0.5);
  margin-bottom: 25px;
}

.intro-info strong {
  color: #226ed8;
}

.intro-info button {
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #226ed8;
  padding: 15px 25px;
  border-radius: 25px;
}

.intro-info span {
  font-size: 18px;
  color: #226ed8;
  margin: 0px 5px 0 10px;
}

.intro-info img {
  position: relative;
  top: -1.5px;
}

/* Sobre */
.sobre {
  padding: 60px 0px;
}

.sobre h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sobre-info {
  display: flex;
  position: relative;
  left: -80px;
  width: 820px;
}

.sobre-info img {
  position: relative;
  filter: saturate(30%);
}

.sobre-info .seta-esquerda {
  position: relative;
  top: 0px;
  left: 80px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  cursor: pointer;
}
.sobre-info .seta-direita {
  position: relative;
  top: 0px;
  left: 350px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  cursor: pointer;
}

.sobre p {
  background-color: #f2f3f4;
  padding: 15px 40px;
  font-size: 16px;
  line-height: 25px;
}

.duvida {
  position: fixed;
  top: 200px;
  left: 1250px;
  display: inline-block;
  background-color: #333;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.btn-duvida {
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Vagas */
.vagas {
  padding: 20px 0px 20px;
}

.vagas h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.vagas-itens {
  display: flex;
  flex-wrap: wrap;
}

.vagas-item {
  margin-right: 60px;
}

.vagas-item:nth-child(3n) {
  margin: 0px;
}

.vagas-item span {
  position: relative;
  top: 5px;
  color: #226ed8;
  font-size: 22px;
}

.vagas-item b {
  padding-left: 10px;
  color: rgba(17, 17, 17, 0.5);
}

.vagas-item p {
  width: 320px;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0px 60px;
}

/* Empresas/Alumni */
.alumni {
  padding: 0px 0px 120px 0px;
}

.alumni h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.alumni ul {
  display: flex;
  /* justify-content: space-between; */
}

.alumni ul li {
  margin-right: 70px;
}

/* Footer */

footer {
  background-color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  color: #fdfdfd;
}

.icons-redes-sociais img {
  margin-right: 10px;
}

.icons-redes-sociais span {
  margin-left: 20px;
  position: relative;
  top: 4px;
}

footer .info {
  position: relative;
  top: 5px;
}

footer .info span:last-child::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(253, 253, 253, 0.3);
  display: inline-block;
  margin: 0px 10px;
  position: relative;
  top: -4px;
  left: -2px;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

.modal {
  background-color: #fff;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal 0.5s;
}

.modal h3 {
  font-size: 26px;
  padding: 40px;
  color: #226ed8;
  background-color: #ececec;
}

.modal form {
  padding: 10px 40px 20px;
}

.modal form label {
  display: block;
  margin: 15px 0px 5px;
}

.modal form input {
  width: 300px;
  height: 40px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
}

.modal form input:hover {
  border: solid rgba(0, 0, 0, 1) 1px;
}

.modal form textarea {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal form textarea:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

.modal-cancelar,
.modal-enviar {
  cursor: pointer;
  float: right;
}

.modal-enviar {
  margin: 0px 45px 20px 20px;
  color: #000;
}

.modal-cancelar {
  color: rgba(0, 0, 0, 0.5);
}
